@{
    ViewData["Title"] = "Vending Machine Demo";
}
<style>
    /*Hide app untill ready*/
    .notready{
        display:none;
    }
</style>

<div id="app" class="notready">
    <div class="row">
        <h2>{{message}}</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-3" v-for="product in machine.products" :key="product.id">
                <div style="height:100px;">
                    <h3>{{product.title}}</h3>
                    <h4>&euro; {{parseFloat(product.price / 100).toFixed(2)}}</h4>
                    <h6>left: {{product.stock}}</h6>
                </div>
                <button @@click="selectProduct(product.id)" class="btn btn-primary" :disabled="product.price<=totalInserted?false:true">Buy</button>
            </div>
        </div>
        <div class="col-md-4">

            <p v-for="coin in machine.coins" :key="coin.cents+1"><button class="btn btn-default" @@click="insertCoin(coin)">Insert Coin &euro; {{parseFloat(coin.cents/100).toFixed(2)}}</button></p>

            <h3>Inserted Credit &euro; {{parseFloat(totalInserted/100).toFixed(2)}}</h3>
            <p v-for="coin in machine.customerCoins" :key="coin.cents+2">{{coin.quantity}}x &euro; {{parseFloat(coin.cents/100).toFixed(2)}}</p>

            <button @@click="cancel()" class="btn btn-default" :disabled="totalInserted>0?false:true">Cancel Purchase</button>

            <h3>Total Change &euro; {{parseFloat(totalChange/100).toFixed(2)}}</h3>
            <p v-for="coin in machine.changeCoins" :key="coin.cents+3">{{coin.quantity}}x &euro; {{parseFloat(coin.cents/100).toFixed(2)}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <br />
            <h4>Admin section</h4>
            <p>Available coins</p>
            <p v-for="coin in machine.coins" :key="coin.cents+4">{{coin.quantity}}x {{ coin.cents}}</p>

            <button @@click="restock()" class="btn btn-danger">Restock and Reset</button>
        </div>
    
    </div>
</div>
