@{
    ViewData["Title"] = "Vending Machine Demo";
}

<div id="app">
    <div class="row">
        <div class="col-md-2" v-for="product in machine.products" :key="product.id">
            <div style="height:100px;">
                <h3>{{product.title}}</h3>
                <h4>{{product.price}}</h4>
                <h6>left: {{product.stock}}</h6>

            </div>
            <button @@click="selectProduct(product.id)" class="btn btn-primary">Buy</button>
        </div>
        <div class="col-md-2">
            <h2>{{message}}</h2>
            <button class="btn btn-default" v-for="coin in machine.coins" :key="coin.cents" @@click="insertCoin(coin)">Insert {{coin.cents}}</button>


            <h3>Inserted Credit {{totalInserted}}</h3>
            <p v-for="ccoin in machine.customerCoins" :key="ccoin.cents">{{ccoin.quantity}}x {{ ccoin.cents}}</p>
        </div>
    </div>
</div>
